#container
{ 
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: black;
    width: 1600px;
    height: 900px;
    font-size: 100px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 1600px 900px;
}

#test
{
    margin-bottom: 100px;
    width: 450px;
    height: 100px;
    align-self: center;
}

#start
{
    align-self: center;
    height: 100px;
    width: 300px;
    background-color: brown;
}
